<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar venta</title>
    {{> header}}
</head>
<body class="  ">
        <!-- Inicio del cargar -->
    <div id="loading">
      <div class="loader simple-loader">
          <div class="loader-body">
          </div>
      </div>    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->

        {{> sidebar}}    
 
    <!-- Fin Barra lateral -->


    <!-- Inicio Barra superior -->
        {{> topbar}}
    <!-- Fin Barra superior -->

              
    <!-- Inicio contenido -->      
    <div class="container-fluid content-inner">
         <div class="row">                
            <div class="col-sm-12 col-lg-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Agregar Venta </h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="FormularioDevolucion">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Nombre completo:</label>
                                        <input type="text" class="form-control" name="NombreCVenta" placeholder="Nombre completo" oninput="validateNombreCVenta(this)" />
                                        <span class="error-message" id="nombre-error"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="productos2">Productos</label>
                                        <select id="productos2" name="productos2">
                                            <option value="Vitaminas">Vitaminas</option>
                                            <option value="Proteinas">Proteínas</option>
                                            <option value="Gatorade">Gatorade</option>
                                            <option value="Agua">Agua</option>
                                            <option value="Banano">Banano</option>
                                        </select>
                                        <span class="error-message" id="producto2-error"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Cedula:</label>
                                        <input type="text" class="form-control" name="Cedula" placeholder="Cedula" oninput="validateCedula(this)" />
                                        <span class="error-message" id="Cedula-error"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Celular:</label>
                                        <input type="text" class="form-control" name="Celular" placeholder="Celular" oninput="validateCelular(this)" />
                                        <span class="error-message" id="Celular-error"></span>
                                    </div>
                                </div>
                            </div>
                            <button  type="submit" name="Guardar" class="btn btn-primary next action-button float-end" value="Next">Guardar</button>
                            <a  href="GestionVentas" type="button" name="Cancelar" class="btn btn-dark previous action-button-previous float-end me-1" value="Previous">Cancelar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Fin contenido --> 

    <script src="../assets/js/formDevolucion.js"></script>

    <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
    <!-- Footer Section End -->

    {{> footer}}
</body>
</html>