<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Producto</title>
    {{> header}}
</head>
<body class="  ">
        <!-- Inicio del cargar -->
    <div id="loading">
      <div class="loader simple-loader">
          <div class="loader-body">
          </div>
      </div>    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->

        {{> sidebar}}    
 
    <!-- Fin Barra lateral -->


    <!-- Inicio Barra superior -->
        {{> topbar}}
    <!-- Fin Barra superior -->

              
    <!-- Inicio contenido -->      
<div class="container-fluid content-inner">
            <div class="row">                
                <div class="col-sm-12 col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Agregar Producto</h4>
                        </div>
                        </div>
                        <div class="card-body">
                            <!-- fieldsets -->
                            <form action="" class="formularioProductos" id="formularioProductos" >
                                    <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Nombre Producto</label>
                                            <input type="text" class="form-control"  placeholder="Nombre Producto" id="Nombreproducto" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Precio Producto</label>
                                            <input type="text" class="form-control" placeholder="Precio Producto" id="Precioproducto" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Productos a ingresar</label>
                                            <input type="text" class="form-control" placeholder="Productos a ingresar" id="Productosaingresar" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Iva del producto</label>
                                            <input type="text" class="form-control" placeholder="Iva del producto" id="IvaProducto" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="exampleFormControlSelect1">Categoria del producto*</label>
                                            <select class="form-select" id="SelectorCategoria">
                                            <option selected="" disabled="">Selecciona La Categoria del producto</option>
                                            <option>bebidas</option>
                                            <option>Monohidratantes</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <button type="submit" name="next" class="btn btn-primary next action-button float-end" value="Next" >Guardar</button>
                                <a href="../Productos"><button type="button" name="previous" class="btn btn-dark previous action-button-previous float-end me-1" value="Previous" >Cancelar</button></a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    <!-- Fin contenido --> 

    <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
    <!-- Footer Section End -->
    {{> footer}}
    <script src="../assets/js/productos.js"></script>
</body>
</html>