<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Rutina</title>
    {{> header}}
</head>
<body class="  ">
        <!-- Inicio del cargar -->
    <div id="loading">
      <div class="loader simple-loader">
          <div class="loader-body">
          </div>
      </div>    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->

        {{> sidebar}}    
 
    <!-- Fin Barra lateral -->


    <!-- Inicio Barra superior -->
        {{> topbar}}
    <!-- Fin Barra superior -->

              
    <!-- Inicio contenido -->      
    <div class="container-fluid content-inner">
        <div class="row">                
                <div class="col-sm-12 col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Nueva Rutina</h4>
                        </div>
                        </div>
                        <div class="card-body">
                                <div class="form-card text-start">
                                    <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Nombre Rutina*</label>
                                            <input type="text" class="form-control" name="nombreRutina" placeholder="Nombre" />
                                        </div>
                                    </div>
                                      <!--BOTONES DIA SEMANA-->

                                      <div class="row g-4 mt-3">
                                        <label class="form-label">Selecciones Día semana*</label>
                                          <div class="col-md-5">
                                              <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" data-dia="Lunes">Lunes</button>
                                          </div>

                                          <div class="col-md-5">
                                              <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" data-dia="Martes">Martes</button>
                                          </div>

                                          <div class="col-md-5">
                                              <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" data-dia="Miercoles">Miercoles</button>
                                          </div>

                                          <div class="col-md-5">
                                              <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" data-dia="Jueves">Jueves</button>
                                          </div>

                                          <div class="col-md-5">
                                              <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" data-dia="Viernes">Viernes</button>
                                          </div>

                                          <div class="col-md-5">
                                              <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" data-dia="Sabado">Sabado</button>
                                          </div>

                                          <div class="col-md-5">
                                              <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" data-dia="Domingo">Domingo</button>
                                          </div>

                                      </div>     
                                    </div>
                                </div>
                                <button type="submit" name="next" class="btn btn-primary float-end" value="Next" >Guardar</button>
                            </fieldset>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

 
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content my-custom-modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Rutina</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modalBody">
                        <!-- Contenido del formulario generado dinámicamente -->
                    </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
            </div>
        </div>



{{!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Open modal for @mdo</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content my-custom-modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rutina Lunes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row mb-3">
            <div class="col-md-4">
              <label for="routine" class="col-form-label">Tipo ejercicio</label>
              <input type="text" class="form-control" id="routine">
            </div>
            <div class="col-md-4">
              <label for="exercise" class="col-form-label">Ejercicio</label>
              <input type="text" class="form-control" id="exercise">
            </div>
            <div class="col-md-4">
              <label for="reps" class="col-form-label">Repeticiones</label>
              <input type="number" class="form-control" id="reps" style="width: 70px;">
            </div>
          </div>
          <i class="fa-solid fa-minus"></i><i class="fa-solid fa-plus"></i>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div> --}}



    
    <!-- Fin contenido --> 

    <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
    <!-- Footer Section End -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
      <script src="../assets/js/rutinas.js"></script>

    {{> footer}}
    
    
</body>
</html>