<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario ventas</title>

    <link rel="stylesheet" href="../assets/css/validacionVentas.css" />
    {{> header}}
</head>

<body class="  ">
    <!-- Inicio del cargar -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body">
            </div>
        </div>
    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->

    {{> sidebar}}

    <!-- Fin Barra lateral -->


    <!-- Inicio Barra superior -->
    {{> topbar}}
    <!-- Fin Barra superior -->


    <!-- Inicio contenido -->
    <div class="container-fluid content-inner">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="header-title">
                            <h4 class="card-title m-0 font-weight-bold text-primary">Agregar Venta</h4>
                        </div>
                    </div>
                    <div class="card-body">

                        <form class="formularioVenta" id="formularioVenta">
                            <div class="row">
                                <div class="col-lg-6 formularioVenta__grupo">
                                    <label for="cliente" id="clientes" style="display: block;">Clientes: </label>
                                    <div style="display: flex; align-items: center;">
                                        <select id="selectProducto" name="productos[]"
                                            style="width: 300px; margin-right: 10px;">
                                            <option selected="" disabled="">Seleccione cliente</option>
                                            <option value="cliente1">Johany Ocampo</option>
                                            <option value="cliente2">Weimar Lopez</option>
                                            <option value="cliente3">Alejo Builes</option>
                                            <option value="cliente4">Esteban Ortiz</option>
                                            <!-- Agrega más opciones según tus necesidades -->
                                        </select>
                                        <a href="registrar-usuario" type="button" class="btn btn-soft-info"><i
                                                class="fa-solid fa-plus fa-lg"></i></a>
                                    </div>
                                </div>


                                {{!-- Campo Nombres --}}
                                <div class="col-lg-6 formularioVenta__grupo" id="grupo__nombres">
                                    <label for="nombres" class="formularioVenta__label">Nombres *</label>
                                    <div class="formularioVenta__grupo-input">
                                        <input type="text" class="form-control" name="nombres" id="nombres">
                                        <i class="formularioVenta__validacion-estado fas fa-times-circle "></i>
                                    </div>
                                    <p class="formularioVenta__input-error">Los nombres no puede contener numeros o
                                        caracteres especiales</p>
                                </div>

                                {{!-- Campo #Doc --}}
                                <div class="col-lg-6 formularioVenta__grupo" id="grupo__documento">
                                    <label for="documento" class="formularioVenta__label"># Documento *</label>
                                    <div class="formularioVenta__grupo-input">
                                        <input type="text" class="form-control" name="documento" id="documento">
                                        <i class="formularioVenta__validacion-estado fas fa-times-circle "></i>
                                    </div>
                                    <p class="formularioVenta__input-error">Ingresa un documento valido</p>
                                </div>

                                {{!-- Campo Correo --}}
                                <div class="col-lg-6 formularioVenta__grupo" id="grupo__correo">
                                    <label for="correo" class="formularioVenta__label">Correo Electronico *</label>
                                    <div class="formularioVenta__grupo-input">
                                        <input type="email" class="form-control" name="correo" id="correo">
                                        <i class="formularioVenta__validacion-estado fas fa-times-circle "></i>
                                    </div>
                                    <p class="formularioVenta__input-error">El correo no es valido</p>
                                </div>

                                {{!-- Campo Numero Cel --}}
                                <div class="col-lg-6 formularioVenta__grupo" id="grupo__telefono">
                                    <label for="telefono" class="formularioVenta__label">Telefono *</label>
                                    <div class="formularioVenta__grupo-input">
                                        <input type="text" class="form-control" name="telefono" id="telefono">
                                        <i class="formularioVenta__validacion-estado fas fa-times-circle "></i>
                                    </div>
                                    <p class="formularioVenta__input-error">El numero no es valido.</p>
                                </div>

                                {{!-- Campo direccion --}}
                                {{!-- <div class="col-lg-6 formularioVenta__grupo" id="grupo__direccion">
                                    <label for="direccion" class="formularioVenta__label">Direccion *</label>
                                    <div class="formularioVenta__grupo-input">
                                        <input type="text" class="form-control" name="direccion" id="direccion"
                                            placeholder="Ej: Cra 19 # 52-102">
                                        <i class="formularioVenta__validacion-estado fas fa-times-circle "></i>
                                    </div>
                                    <p class="formularioVenta__input-error">Ingrese una direccion valida.</p>
                                </div> --}}

                                <div class="col-lg-6 formularioVenta__grupo">
                                    <label for="membresia" id="membresias">Membresía: </label>
                                    <select id="selectMembresia" name="membresias[]" style="width: 400px;">
                                        <option selected="" disabled="">Seleccione membresía</option>
                                        <option value="membresia1">Membresía Oro</option>
                                        <option value="membresia2">Membresía Plata</option>
                                        <option value="membresia3">Membresía Bronce</option>
                                        <!-- Agrega más opciones según tus necesidades -->
                                    </select>
                                </div>

                                <div class="col-lg-6 formularioVenta__grupo">
                                    <label for="formaPago" id="formasPago">Forma de Pago: </label>
                                    <select id="selectFormaPago" name="formasPago[]" style="width: 400px;">
                                        <option selected="" disabled="">Seleccione forma de pago</option>
                                        <option value="qr">Pago QR</option>
                                        <option value="efectivo">Efectivo</option>
                                        <!-- Agrega más opciones según tus necesidades -->
                                    </select>
                                </div>

                                <!-- Campo Producto -->
                                <label for="productoContainer">Seleccione producto</label>
                                <div class="productoContainer">
                                    <select id="selectProducto" name="productos[]" style="margin-right: 10px;">
                                        <option selected="" disabled="">Agregar producto a la Devolucion</option>
                                        <option value="producto1">Creatina</option>
                                        <option value="producto2">Aminoacidos</option>
                                        <option value="producto3">Elite</option>
                                        <option value="producto3">Agua</option>
                                        <!-- Agrega más opciones según tus necesidades -->
                                    </select>

                                    <label for="cantidad" style="margin-left:50px">Cantidad:</label>
                                    <input style="width:90px" type="number" name="cantidades[]" value="1" min="1">


                                    <label for="Valor" style="margin-left:55px">Valor:</label>
                                    <label>$25.000</label>
                                    <div class="productoContainer">
                                        <button type="button" class="btn btn-soft-info btn mt-2"
                                            onclick="agregarProducto()" style="margin-left:50px"><i
                                                class="fa-solid fa-plus fa-lg"></i></button>
                                    </div>

                                </div>
                                <div id="productosAgregados">
                                    <!-- Aquí se agregarán dinámicamente los nuevos campos de selección -->

                                </div>
                            </div>


                            <div class="formularioVenta__grupo-btn-enviar">
                                <button type="submit" class="btn btn-danger">Registrar</button>

                                <a href="GestionVentas" type="button" name="Cancelar"
                                    class="btn btn-dark  action-button-previous" value="Previous">Cancelar</a>

                                <p class="formularioVenta__mensaje-exito alert alert-succes"
                                    id="formularioVenta__mensaje-exito">Registro exitoso!</p>
                                <div class="formularioVenta__mensaje" id="formularioVenta__mensaje">
                                    <p><i class="fas fa-exclamation-triangle" ></i> <b>Error:</b> Por favor rellena el
                                        formulario
                                        correctamente. </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Fin contenido -->

    <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
    <!-- Footer Section End -->
    <script src="../assets/js/formVentas.js"></script>
    <script src="../assets/js/Devolucion.js"></script>
    {{> footer}}
</body>

</html>