<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar cliente</title>
    {{> header}}

    
</head>

<body class="  ">
    <!-- Inicio del cargar -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body">
            </div>
        </div>
    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->

    {{> sidebar}}

    <!-- Fin Barra lateral -->


    <!-- Inicio Barra superior -->
    {{> topbar}}
    <!-- Fin Barra superior -->


    <!-- Inicio contenido -->
    <div class="container-fluid content-inner">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Agregar Venta</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="" class="formularioVenta" id="formularioVenta">
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- grupo clientes -->
                                    <div class="formulario__grupo" id="grupo__cliente">
                                        <label for="cliente" class="formulario__label">Cliente: </label>
                                        <div class="formulario__grupo-select">
                                            <select class="formulario__select" name="cliente" id="cliente">
                                                <option value="">Seleccione cliente</option>
                                                <option value="cliente1">Johany Ocampo</option>
                                                <option value="cliente2">Yonier Lopez</option>
                                                <option value="cliente3">Sebastian Rendon</option>
                                            </select>
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario__select-error">Debes seleccionar un cliente</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <!-- grupo documento -->
                                    <div class="formulario__grupo" id="grupo__documento">
                                        <label for="nombre" class="formulario__label">Documento: </label>
                                        <div class="formulario__grupo-input">
                                            <input type="text" class="formulario__input" name="documento" id="documento"
                                                placeholder="10001...">
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario__input-error">El documento tiene que ser de 10 digitos</p>
                                    </div>
                                </div>
                                <!-- grupo correo -->
                                <div class="col-md-6">
                                    <div class="formulario__grupo" id="grupo__correo">
                                        <label for="correo" class="formulario__label">Correo Electrónico</label>
                                        <div class="formulario__grupo-input">
                                            <input type="email" class="formulario__input" name="correo" id="correo"
                                                placeholder="sena@correo.com">
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario__input-error">El correo solo puede contener letras,
                                            numeros, puntos, guiones y guion bajo.</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="formulario__grupo" id="grupo__direccion">
                                        <label for="direccion" class="formulario__label">Direccion: </label>
                                        <div class="formulario__grupo-input">
                                            <input type="text" class="formulario__input" name="direccion" id="direccion"
                                                placeholder="calle 53 #21...">
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario__input-error">ingrese una direccion valida.</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="formulario__grupo" id="grupo__telefono">
                                        <label for="telefono" class="formulario__label">Teléfono</label>
                                        <div class="formulario__grupo-input">
                                            <input type="text" class="formulario__input" name="telefono" id="telefono"
                                                placeholder="4491234567">
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario__input-error">El telefono solo puede contener numeros y el
                                            maximo son 14 dígitos.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="formulario__grupo formulario__grupo-btn-enviar" >
                                <button type="submit" name="Guardar" class="formulario__btn btn btn-primary next action-button float-end"
                                >Guardar</button>
                                <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
                                <a href="GestionVentas" type="button" name="Cancelar"
                                class="btn btn-dark previous action-button-previous float-end me-1">Cancelar</a>
                            </div>
                            
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin contenido -->
    <script src="../assets/js/formuVenta.js"></script>
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>

    <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
    <!-- Footer Section End -->

    {{> footer}}
</body>

</html>