<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla</title>
    {{> header}}
</head>
<body class="  ">
        <!-- Inicio del cargar -->
    <div id="loading">
      <div class="loader simple-loader">
          <div class="loader-body">
          </div>
      </div>    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->

        {{> sidebar}}    
 
    <!-- Fin Barra lateral -->


    <!-- Inicio Barra superior -->
        {{> topbar}}
    <!-- Fin Barra superior -->
<!-- Sección de Membresias -->
<form id="form-wizard1" class="mt-3 text-center">
    <!-- fieldsets -->
    <div class="card-body">
        <div class="form-card text-start">
            <div class="row">
                <div class="col-7">
                    <h3 class="mb-4">Informacion</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Nombre de la membresia</label>
                        <input type="email" class="form-control" name="email" placeholder="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">servicio</label>
                        <select name="select">
                            <option value="value1">Servicio 1</option>
                            <option value="value1">Servicio 2</option>
                            <option value="value3">Servicio 3</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Frecuencia</label>
                        <input type="text" class="form-control" name="uname" placeholder="0" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Cantidad</label>
                        <input type="password" class="form-control" name="pwd" placeholder="0" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Fecha inicio</label>
                        <input type="password" class="form-control" name="cpwd" placeholder="00/00/0000" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Costo total</label>
                        <input type="password" class="form-control" name="cpwd" placeholder="0,00" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Fecha fin</label>
                        <input type="password" class="form-control" name="cpwd" placeholder="00/00/0000" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Precio venta</label>
                        <input type="password" class="form-control" name="cpwd" placeholder="0" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</form>
<div class="container-fluid content-inner">
    <br>
   
    <br>
    <div class="container-fluid content-inner">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Servicios</h4>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive mt-4">
                            <table id="basic-table" class="table table-striped mb-0" role="grid">
                                <thead>
                                    <tr>
                                    
                                        <th>Nombre Servicio</th>
                                        <th>Estado</th>
                                        <th>Precio</th>
                                        <th>Editar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Registro 1 -->
                                    <tr>
                                        
                                        <td>Clases de Spinning</td>
                                        
                                           <td><i class="fa-solid fa-toggle-on fa-xl" ></i></td>
                                        
                                        <td>$15</td>
                                                                                <td><div class="d-flex align-items-center mb-4">
                                 <i class="fa-regular fa-pen-to-square fa-xl me-2" ></i>
                                 
                                 <i class="fa-regular fa-eye fa-xl me-2" ></i>
                                 

</td>
                                    </tr>

                                    <!-- Registro 2 -->
                                    <tr>
                                        
                                        <td>Entrenamiento Personalizado</td>
                                        
<td><i class="fa-solid fa-toggle-on fa-xl" ></i></td>
                                        
                                        
                                        <td>$50</td>
  <td><div class="d-flex align-items-center mb-4">
                                 <i class="fa-regular fa-pen-to-square fa-xl me-2" ></i>
                                 
                                 <i class="fa-regular fa-eye fa-xl me-2" ></i>
                                 

</td>
                                    </tr>

                                    <!-- Registro 3 -->
                                    <tr>
                                        
                                        <td>Yoga Matutino</td>
                                        <td><i class="fa-solid fa-toggle-on fa-xl" ></i></td>
                                        <td>$20</td>
                                         <td><div class="d-flex align-items-center mb-4">
                                 <i class="fa-regular fa-pen-to-square fa-xl me-2" ></i>
                                 
                                 <i class="fa-regular fa-eye fa-xl me-2" ></i>
                                 

</td>
                                    </tr>

                                    <!-- Registro 4 -->
                                    <tr>
                                        
                                        <td>Cardio Kickboxing</td>
                                       <td><i class="fa-solid fa-toggle-on fa-xl" ></i></td>
                                        <td>$25</td>
                                                                             <td><div class="d-flex align-items-center mb-4">
                                 <i class="fa-regular fa-pen-to-square fa-xl me-2" ></i>
                                 
                                 <i class="fa-regular fa-eye fa-xl me-2" ></i>
                                 

</td>
                                    </tr>

                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
    <!-- Fin contenido --> 

    <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
    <!-- Footer Section End -->

    {{> footer}}
</body>
</html>