<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla</title>
    {{> header}}
</head>
<body class="  ">
        <!-- Inicio del cargar -->
    <div id="loading">
      <div class="loader simple-loader">
          <div class="loader-body">
          </div>
      </div>    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->

        {{> sidebar}}    
 
    <!-- Fin Barra lateral -->


    <!-- Inicio Barra superior -->
        {{> topbar}}
    <!-- Fin Barra superior -->

              
    <!-- Inicio contenido -->      
 <div>
   <div class="row">
      <div class="col-md-12">
         <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 mb-3 text-center">
            <div class="col">
               <div class="card mb-4 rounded-3 ">
                  <div class="card-body">
                     <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
                     <h4 class="my-0 fw-normal mt-3">Free</h4>
                        <ul class="list-unstyled my-3 p-0">
                           <li><p>10 users included</p></li>
                           <li><p>2 GB of storage</p></li>
                           <li><p>Email support</p></li>
                           <li><p>Help center access</p></li>
                        </ul>
                     <button type="button" class="btn btn-outline-secondary disabled">Sign up for free</button>
                  </div>
               </div>
            </div>
            <div class="col">
               <div class="card mb-4 rounded-3 ">
                  <div class="card-body">
                     <h1 class="card-title pricing-card-title">$15<small class="text-muted fw-light">/mo</small></h1>
                     <h4 class="my-0 fw-normal mt-3">Pro</h4>
                     <ul class="list-unstyled my-3 p-0">
                        <li><p>20 users included</p></li>
                        <li><p>10 GB of storage</p></li>
                        <li><p>Priority email support</p></li>
                        <li><p>Help center access</p></li>
                     </ul>
                     <button type="button" class="btn btn-outline-primary">Get started</button>
                  </div>
               </div>
            </div>
            <div class="col">
               <div class="card mb-4 rounded-3 ">
                  <div class="card-body">
                     <h1 class="card-title pricing-card-title">$29<small class="text-muted fw-light">/mo</small></h1>
                     <h4 class="my-0 fw-normal mt-3">Enterprise</h4>
                     <ul class="list-unstyled my-3 p-0">
                        <li><p>30 users included</p></li>
                        <li><p>15 GB of storage</p></li>
                        <li><p>Call and email support</p></li>
                        <li><p>Help center access</p></li>
                     </ul>
                     <button type="button" class="btn btn-primary">Get Started</button>
                  </div>
               </div>
            </div>
            <div class="col">
               <div class="card mb-4 rounded-3 ">
                  <div class="card-body">
                     <h1 class="card-title pricing-card-title">$49<small class="text-muted fw-light">/mo</small></h1>
                     <h4 class="my-0 fw-normal mt-3">Premium</h4>
                     <ul class="list-unstyled my-3 p-0">
                        <li><p>50 users included</p></li>
                        <li><p>60 GB of storage</p></li>
                        <li><p>24 X 7 call support</p></li>
                        <li><p>Help center access</p></li>
                     </ul>
                     <button type="button" class="btn btn-primary">Get Started</button>
                  </div>
               </div>
            </div>
         </div>
         </div>
         </div>
         </div>
    <!-- Fin contenido --> 

    <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
    <!-- Footer Section End -->

    {{> footer}}
</body>
</html>