<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rutinas</title>
    {{> header}}
</head>
<body class="  ">
        <!-- Inicio del cargar -->
    <div id="loading">
      <div class="loader simple-loader">
          <div class="loader-body">
          </div>
      </div>    </div
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->

        {{> sidebar}}    
 
    <!-- Fin Barra lateral -->


    <!-- Inicio Barra superior -->
        {{> topbar}}
    <!-- Fin Barra superior -->

    <!-- Inicio contenido -->
<div class="container-fluid content-inner">
        <div class="container-fluid">
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h3 class="m-0 font-weight-bold text-primary">Rutinas</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            {{!-- <div class="dataTables_length" id="dataTable_length">
                                                <label>Filtrar tabla<select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                    </select></label>
                                                    </div> --}}
                                                    </div>
                                                    {{!-- <div class="col-md-6 d-flex align-items-start justify-content-end">
                                                         <div style="margin-bottom: 10px;">
                                                               <a href="nueva-rutina" class="btn btn-danger">Crear Rutina</a>
                                                         </div>
                                                   </div> --}}
                                                      <div class="col-sm-12 col-md-6 "style="aling-center">
                                                         <div id="dataTable_filter" class="dataTables_filter">
                                                               <label>Buscar:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label>
                                                               <a href="nueva-rutina" class="btn btn-danger">Crear Rutina</a>
                                                         </div>
                                                      </div>
                                                   </div>
                                                        <div class="row"><div class="col-sm-12"><table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                    <thead>
                                        <tr role="row"><th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 156.25px;">Nombre Rutina</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 257.578px;">Ejercicios</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 110.688px;">Clientes Asignados</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 93.0156px;">Acciones</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 93.0156px;">Estado</th>
                                        </tr>
                                    </thead>
                                    {{!-- <tfoot>
                                        <tr><th rowspan="1" colspan="1">IDCliente</th>
                                        <th rowspan="1" colspan="1">Nombre</th>
                                        <th rowspan="1" colspan="1">Dirección</th>
                                        <th rowspan="1" colspan="1">Teléfono</th>
                                        <th rowspan="1" colspan="1">Documento</th>
                                        <th rowspan="1" colspan="1">Acciones</th>
                                         <th rowspan="1" colspan="1">Cambiar Estado</th>
                                        </tr>
                                    </tfoot> --}}
                                    <tbody>
                                    <tr class="odd">
                                            <td class="sorting_1">Ectomorfo</td>
                                            <td>Abdomen, pecho...</td>
                                            <td>10</td>
                                            <td>
                                                <div class="centered-container">
                                                      <i class="fa-regular fa-pen-to-square fa-xl me-2"></i>
                                                      <i class="fa-regular fa-eye fa-xl me-2"></i>
                                                      <i class="fa-solid fa-trash fa-xl me-2 trash-icon" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"></i>
                                                <div class="wrap-toggle" style="margin-top:10px;">
                                                      <input type="checkbox" id="toggle5" class="offscreen" />
                                                      <label for="toggle5" class="switch"></label>
                                                </div>
                                            </td>
                                            <td>Activo</td>
                                        </tr><tr class="even">
                                            <td class="sorting_1">Especial VIP</td>
                                            <td>Gluteos, Abdomen...</td>
                                            <td>5</td>
                                            <td>
                                                <div class="centered-container">
                                                      <i class="fa-regular fa-pen-to-square fa-xl me-2"></i>
                                                      <i class="fa-regular fa-eye fa-xl me-2"></i>
                                                      <i class="fa-solid fa-trash fa-xl me-2"></i>
                                                <div class="wrap-toggle" style="margin-top:10px;">
                                                      <input type="checkbox" id="toggle5" class="offscreen" />
                                                      <label for="toggle5" class="switch"></label>
                                                </div>
                                            </td>
                                            <td>Activo</td>
                                        </tr><tr class="odd">
                                            <td class="sorting_1">Mesomorfo</td>
                                            <td>Espalda, brazos...</td>
                                            <td>25</td>
                                            <td>
                                                <div class="centered-container">
                                                      <i class="fa-regular fa-pen-to-square fa-xl me-2"></i>
                                                      <i class="fa-regular fa-eye fa-xl me-2"></i>
                                                      <label for="confirmDeleteCheckbox">
                                                         <i class="fa-solid fa-trash fa-xl me-2"></i>
                                                      </label>
                                                <div class="wrap-toggle" style="margin-top:10px;">
                                                      <input type="checkbox" id="toggle5" class="offscreen" />
                                                      <label for="toggle5" class="switch"></label>
                                                </div>
                                            </td>
                                            <td>Activo</td>
                                        </tr><tr class="odd">
                                            <td class="sorting_1">Endomorfo</td>
                                            <td>Cintura, piernas...</td>
                                            <td>7</td>
                                            <td>
                                                <div class="centered-container">
                                                      <i class="fa-regular fa-pen-to-square fa-xl me-2"></i>
                                                      <i class="fa-regular fa-eye fa-xl me-2"></i>
                                                      <i class="fa-solid fa-trash fa-xl me-2"></i>
                                                <div class="wrap-toggle" style="margin-top:10px;">
                                                      <input type="checkbox" id="toggle5" class="offscreen" />
                                                      <label for="toggle5" class="switch"></label>
                                                </div>
                                            </td>
                                            <td>Activo</td>
                                        </tr>
                                        </tbody>
                                </table>
                                </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-14 col-md-10">
                                        <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Monstrando 1 de 25</div>
                                        </div>
                                        <div class="col-sm-30 col-md-40">
                                            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                                <ul class="pagination">
                                                    <li class="paginate_button page-item previous disabled" id="dataTable_previous">
                                                        <a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                                        </li>
                                                        <li class="paginate_button page-item active">
                                                            <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                                            </li>
                                                            <li class="paginate_button page-item ">
                                                                <a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                                                                </li>
                                                                <li class="paginate_button page-item ">
                                                                    <a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                                                                    </li>
                                                                    <li class="paginate_button page-item next" id="dataTable_next">
                                                                        <a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">Next</a>
                                                                     </li>
                                             </ul>
                                       </div>
                                    </div> </div>
                                 </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
<<<<<<< HEAD
<<<<<<< HEAD
      
=======
            <div class="card-body p-0">
               <div class="table-responsive mt-4">
                  <table id="basic-table" class="table table-striped mb-0" role="grid">
                     <thead>
                        <tr>
                           <th>Nombre Rutina</th>
                           <th>Ejercicios</th>
                           <th>Budget</th>
                           <th>Status</th>
                           <th>Acciones</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>
                              <div class="d-flex align-items-center">
                                 <img class="rounded img-fluid avatar-40 me-3 bg-soft-primary"
                                    src="../../assets/images/shapes/01.png" alt="profile">
                                 <h6>Soft UI XD Version</h6>
                              </div>
                           </td>
                           <td>
                              <div class="iq-media-group iq-media-group-1">
                                    <a href="#" class="iq-media-1">
                                       <div class="icon iq-icon-box-3 rounded-pill">SP</div>
                                    </a>
                                    <a href="#" class="iq-media-1">
                                       <div class="icon iq-icon-box-3 rounded-pill">PP</div>
                                    </a>
                                    <a href="#" class="iq-media-1">
                                       <div class="icon iq-icon-box-3 rounded-pill">MM</div>
                                    </a>
                                 </div>
                           </td>
                           <td>$14000</td>
                           <td><div class="text-info">Pending</div></td>
                           
                           <td>
                              <div class="d-flex align-items-center mb-4">
                                 <i class="fa-regular fa-pen-to-square fa-xl me-2"></i>
                                 <i class="fa-solid fa-trash fa-xl me-2"></i>
                                 <i class="fa-solid fa-trash fa-xl me-2"></i>
                                 <i class="fa-regular fa-eye fa-xl me-2"></i>
                                 <i class="fa-solid fa-toggle-on fa-xl"></i>
                              </div>
                           </td>
>>>>>>> d014de50ff764c3751d4e37ba5e76be3df2c9d06

=======
>>>>>>> da02b745cbac01ef7a305d847c3de9ab385313d3

<!-- Modal eliminar -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar este elemento?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Eliminar</button>
            </div>
        </div>
    </div>
</div>

    <!-- Fin contenido --> 

   <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
  
    {{> footer}}
</body>
</html>