<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla</title>
    {{> header}}
</head>
<body class="  ">
        <!-- Inicio del cargar -->
    <div id="loading">
      <div class="loader simple-loader">
          <div class="loader-body">
          </div>
      </div>    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->

        {{> sidebar}}    
 
    <!-- Fin Barra lateral -->


    <!-- Inicio Barra superior -->
        {{> topbar}}
    <!-- Fin Barra superior -->

              
<!-- Inicio contenido -->

<div class="container-fluid content-inner">
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="header-title">
                <h3 class="m-0 font-weight-bold text-primary">Gestio usuarios</h3>
            </div>
            <div class="card-header py-3 d-flex justify-content-between">
                <!-- Barra de búsqueda -->
                <div class="d-flex">
                    <div class="search-container">
                        <label for="searchInput" class="visually-hidden">Buscar:</label>
                        <input type="search" id="searchInput" class="form-control form-control-sm" placeholder="Buscar" aria-controls="dataTable">
                    </div>
                </div>
                <!-- Botones en el pie de la tabla -->
                <div class="footer-buttons mt-1">
                    <a href="formUsuarios" type="button" name="Cancelar" class="btn btn-dark previous action-button-previous float-end me-2" value="Previous">
                        Agregar usuario
                    </a>
                </div>
            </div>
            <!-- Tabla de usuarios -->
           <div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
            <!-- Encabezado de la tabla -->
                        <thead>
                            <tr role="row">
                                <!-- Columnas de la tabla -->
                                <th># Documento</th>
                                <th>Nombre</th>
                                <th>Rol</th>
                                <th>Estado</th>                             
                                <th>Acciones</th>                              
                            </tr>
                        </thead>
                        <!-- Cuerpo de la tabla con datos de devoluciones -->
                        <tbody>
                            <!-- Filas de datos -->
                            <tr>
                                      
                                        
                                        <td>123456789</td>
                                        <td>weimar lopez</td>
                                        <td>cliente</td>
                                        
                                        
                                                                                <td>Inactivo</td>

                                        
                              <td style="text-align: center;">
                                        <div class="centered-container">
                                             <i class="fa-regular fa-pen-to-square fa-xl me-2" data-bs-toggle="modal" data-bs-target="#editarRolModal"></i>
                                            <i class="fa-regular fa-eye fa-xl me-2"></i>
                                             <i class="fa-solid fa-trash fa-xl me-2 trash-icon" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"></i>
                                            <div class="wrap-toggle" style="margin-top:10px;">
                                                <input type="checkbox" id="toggle1" class="offscreen">
                                                <label for="toggle1" class="switch"></label>
                                            </div>
                                    </div></td>
                                    
</tr>
<tr>

    
    <td>555555555</td>
    <td>juan esteban ortiz</td>
    
    <td>Entrenador</td>
    
                                        <td>Activo</td>


     <td style="text-align: center;">
                                        <div class="centered-container">
                                             <i class="fa-regular fa-pen-to-square fa-xl me-2" data-bs-toggle="modal" data-bs-target="#editarRolModal"></i>
                                            <i class="fa-regular fa-eye fa-xl me-2"></i>
                                             <i class="fa-solid fa-trash fa-xl me-2 trash-icon" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"></i>
                                            <div class="wrap-toggle" style="margin-top:10px;">
                                                <input type="checkbox" id="toggle1" class="offscreen">
                                                <label for="toggle1" class="switch"></label>
                                            </div>
                                    </div></td>
</tr>
</tr>
<tr>

    
    <td>555555555</td>
    <td>juan esteban ortiz</td>
    
    <td>Entrenador</td>
    
                                        <td>Activo</td>


     <td style="text-align: center;">
                                        <div class="centered-container">
                                             <i class="fa-regular fa-pen-to-square fa-xl me-2" data-bs-toggle="modal" data-bs-target="#editarRolModal"></i>
                                            <i class="fa-regular fa-eye fa-xl me-2"></i>
                                             <i class="fa-solid fa-trash fa-xl me-2 trash-icon" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"></i>
                                            <div class="wrap-toggle" style="margin-top:10px;">
                                                <input type="checkbox" id="toggle1" class="offscreen">
                                                <label for="toggle1" class="switch"></label>
                                            </div>
                                    </div></td>
</tr>
<tr>

    
    <td>333333333</td>
    <td>johany ocampo</td>
    
    <td>Entrenador</td>
    
                                        <td>Inactivo</td>


    <td style="text-align: center;">
                                        <div class="centered-container">
                                             <i class="fa-regular fa-pen-to-square fa-xl me-2" data-bs-toggle="modal" data-bs-target="#editarRolModal"></i>
                                            <i class="fa-regular fa-eye fa-xl me-2"></i>
                                             <i class="fa-solid fa-trash fa-xl me-2 trash-icon" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"></i>
                                            <div class="wrap-toggle" style="margin-top:10px;">
                                                <input type="checkbox" id="toggle1" class="offscreen">
                                                <label for="toggle1" class="switch"></label>
                                            </div>
                                    </div></td>
</tr>
<tr>

    
    <td>777777777</td>
    <td>alexander ospina</td>
    
    <td>Cliente</td>
    
                                        <td>Activo</td>


     <td style="text-align: center;">
                                        <div class="centered-container">
                                             <i class="fa-regular fa-pen-to-square fa-xl me-2" data-bs-toggle="modal" data-bs-target="#editarRolModal"></i>
                                            <i class="fa-regular fa-eye fa-xl me-2"></i>
                                             <i class="fa-solid fa-trash fa-xl me-2 trash-icon" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"></i>
                                            <div class="wrap-toggle" style="margin-top:10px;">
                                                <input type="checkbox" id="toggle1" class="offscreen">
                                                <label for="toggle1" class="switch"></label>
                                            </div>
                                    </div></td>
</tr>
<tr>

    
    
                            <!-- ... (código de las filas) ... -->
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Paginación de la tabla -->
            <div class="row">
                <div class="col-12">
                    <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                        <!-- Contenido de paginación -->
                        <ul class="pagination justify-content-end">
                                <li class="paginate_button page-item previous disabled" id="dataTable_previous">
                                    <a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                </li>
                                <li class="paginate_button page-item active">
                                    <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                </li>
                                <li class="paginate_button page-item ">
                                    <a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                                </li>
                                <li class="paginate_button page-item ">
                                    <a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                                </li>
                                <li class="paginate_button page-item next" id="dataTable_next">
                                    <a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">Next</a>
                                </li>
                            </ul>
                        <!-- ... (código de paginación) ... -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editarRolModal" tabindex="-1" aria-labelledby="editarRolModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="m-0 font-weight-bold text-primary">Editar usuario</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row">
                    <!-- Campos del formulario -->
                    <div class="col-md-6">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" class="form-control">
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="producto">Rol</label>
                            <select id="producto" name="productos" class="form-control">
                                <option value="Vitaminas">Administrador</option>
                                <option value="Proteinas">Entrenador</option>
                                <option value="Gatorade">Cliente</option>
                            </select>
                            <span class="error-message" id="producto-error"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="nombre">E-mail</label>
                        <input type="text" id="nombre" name="nombre" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="nombre">Telefono</label>
                        <input type="text" id="nombre" name="nombre" class="form-control">
                    </div>
                    <div class="col-md-12">
                        <button type="submit" name="Guardar" class="btn btn-primary float-end" value="Next">Guardar</button>
                        <a href="GestionDevoluciones" type="button" name="Cancelar" class="btn btn-dark float-end me-1" value="Previous">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <!-- Fin contenido --> 

    <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
    <!-- Footer Section End -->

    {{> footer}}
</body>
</html>