<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla</title>
    {{> header}}
</head>
<body class="  ">
        <!-- Inicio del cargar -->
    <div id="loading">
      <div class="loader simple-loader">
          <div class="loader-body">
          </div>
      </div>    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->

        {{> sidebar}}    
 
    <!-- Fin Barra lateral -->


    <!-- Inicio Barra superior -->
        {{> topbar}}
    <!-- Fin Barra superior -->

              
<!-- Inicio contenido -->
<div class="container-fluid content-inner">
    <br>
    <div class="position-relative">
        <button type="submit" class="btn btn-danger position-absolute top-0 end-0 me-5">Agregar +</button>
    </div>
    <br>
    <div class="container-fluid content-inner">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Usuarios</h4>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive mt-4">
                            <table id="basic-table" class="table table-striped mb-0" role="grid">
                                <thead>
                                    <tr>
                                        
                                        
                                        <th># Documento</th>
                                        <th>nombre</th>
                                        <th>rol</th>
                                        <th>estado</th>
                                        
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                      
                                        
                                        <td>123456789</td>
                                        <td>weimar lopez</td>
                                        <td>cliente</td>
                                        
                                        
                                                                                <td>Inactivo</td>

                                        
                              <td>
                              <div class="d-flex align-items-center mb-4">
                                 <i class="fa-regular fa-pen-to-square fa-xl me-2"></i>
                                 <i class="fa-solid fa-trash fa-xl me-2" ></i>
                                 <i class="fa-regular fa-eye fa-xl me-2" ></i>
                                 <i class="fa-solid fa-toggle-on fa-xl" ></i>
                              </div>
                           </td>
                                    
</tr>
<tr>

    
    <td>555555555</td>
    <td>juan esteban ortiz</td>
    
    <td>Entrenador</td>
    
                                        <td>Activo</td>


     <td>
                              <div class="d-flex align-items-center mb-4">
                                 <i class="fa-regular fa-pen-to-square fa-xl me-2"></i>
                                 <i class="fa-solid fa-trash fa-xl me-2" ></i>
                                 <i class="fa-regular fa-eye fa-xl me-2" ></i>
                                 <i class="fa-solid fa-toggle-on fa-xl" ></i>
                              </div>
                           </td>
</tr>
</tr>
<tr>

    
    <td>555555555</td>
    <td>juan esteban ortiz</td>
    
    <td>Entrenador</td>
    
                                        <td>Activo</td>


     <td>
                              <div class="d-flex align-items-center mb-4">
                                 <i class="fa-regular fa-pen-to-square fa-xl me-2"></i>
                                 <i class="fa-solid fa-trash fa-xl me-2"></i>
                                 <i class="fa-regular fa-eye fa-xl me-2" ></i>
                                 <i class="fa-solid fa-toggle-on fa-xl" ></i>
                              </div>
                           </td>
</tr>
<tr>

    
    <td>333333333</td>
    <td>johany ocampo</td>
    
    <td>Entrenador</td>
    
                                        <td>Inactivo</td>


     <td>
                              <div class="d-flex align-items-center mb-4">
                                 <i class="fa-regular fa-pen-to-square fa-xl me-2" ></i>
                                 <i class="fa-solid fa-trash fa-xl me-2" ></i>
                                 <i class="fa-regular fa-eye fa-xl me-2" ></i>
                                 <i class="fa-solid fa-toggle-on fa-xl" ></i>
                              </div>
                           </td>
</tr>
<tr>

    
    <td>777777777</td>
    <td>alexander ospina</td>
    
    <td>Cliente</td>
    
                                        <td>Activo</td>


     <td>
                              <div class="d-flex align-items-center mb-4">
                                 <i class="fa-regular fa-pen-to-square fa-xl me-2" ></i>
                                 <i class="fa-solid fa-trash fa-xl me-2" ></i>
                                 <i class="fa-regular fa-eye fa-xl me-2" ></i>
                                 <i class="fa-solid fa-toggle-on fa-xl"></i>
                              </div>
                           </td>
</tr>
<tr>

    
    <td>111111111</td>
    <td>sebastian giraldo</td>
    
    <td>Cliente</td>
   
                                        <td>Actividad</td>

    <<td>
                              <div class="d-flex align-items-center mb-4">
                                 <i class="fa-regular fa-pen-to-square fa-xl me-2" ></i>
                                 <i class="fa-solid fa-trash fa-xl me-2" ></i>
                                 <i class="fa-regular fa-eye fa-xl me-2" ></i>
                                 <i class="fa-solid fa-toggle-on fa-xl" ></i>
                              </div>
                           </td>        
</tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

    <!-- Fin contenido --> 

    <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
    <!-- Footer Section End -->

    {{> footer}}
</body>
</html>